aioredis==1.2.0
asgiref==3.2.2
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.9.2
Automat==0.7.0
backcall==0.1.0
certifi==2019.6.16
cffi==1.12.3
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
colorama==0.4.1
configparser==3.8.1
constantly==15.1.0
crayons==0.2.0
cryptography==2.7
daphne==2.3.0
decorator==4.4.0
Django==2.2.4
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.15.1
msgpack==0.6.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.3.2
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
PyHamcrest==1.9.0
pytz==2019.2
requests==2.22.0
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.2
Twisted==19.7.0
txaio==18.8.1
urllib3==1.25.3
wcwidth==0.1.7
webdriver-manager==1.8.2
zope.interface==4.6.0
